# vim related
*.vim
*.swp

# obj, lib, and exe
*.o
*.so
*.dll
*.exe
TestSimulation

# cscope and ctags out files
cscope.*
tags

# build directory
Linux_x86_64/
Linux_x86_64/*

Unix_x86_64/
Unix_x86_64/*

Win_x86_64/
Win_x86_64/*

# templates
legacy/
